* {
  user-select: none;
  outline: 0;
  margin: 0;
  padding: 0;
}
html,
body,
canvas {
  width: 100%;
  height: 100%;
}
body {
  background-color: #292931;
  overflow: hidden;
}
.my-el {
  width: 800px;
  height: 400px;
  background-color: #111;
}
